@import "~@angular/material/prebuilt-themes/indigo-pink.css";

mat-sidenav {
    width: 180px;
    padding:20px;
}
.mat-drawer { 
    background-color: #EEEEEE;
    color:black
}
.main-content {
    padding:20px;
   
}
.toolbar-spacer {
    flex: 1 1 auto;
}
.bg{
    background-color: #EEEEEE;
}
.fill-space {
    flex: 1 1 auto;
  }
.button {
    display: flex;
    justify-content: flex-end;
  }
  .inline-block {
    display: inline-block;
  }